.content {
	width: 790px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.premii {
	position: absolute;
	top: 343px;
    right: 0px;
}

.big-text {
	position: absolute;
	left: 43px;
	top: 330px;
	color: #000000;
	font-size: 29px;
	font-weight: 400;
	width: 256px;
	height: 58px;
}

.big-text-sec {
	position: absolute;
	left: 43px;
	top: 400px;
	color: #000000;
	font-size: 29px;
	font-weight: 400;
	width: 208px;
	height: 58px;
}