html { 
    font-family: "Century Gothic", CenturyGothic, AppleGothic, nevis, sans-serif;
}

body {
    font-family: "Century Gothic", CenturyGothic;
}
.content {
	width: 790px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.fb-button {
    position: absolute;
    top: 320px;
    right: 100px;
    width: 60px;
    height: 20px;
}

.tw-button {
	position: absolute;
    top: 320px;
    right: 10px;
    width: 80px;
    height: 20px;
}

.premii {
	position: absolute;
	top: 343px;
    right: 0px;
}

.text-bulina {
    position: absolute;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    width: 84px;
    height: 62px;
    top: 588px;
    right: 100px;
}

.big-text {
	position: absolute;
	left: 43px;
	top: 330px;
	color: #000000;
	font-size: 29px;
	font-weight: 400;
	width: 256px;
	height: 58px;
}

.big-text-sec {
	position: absolute;
	left: 43px;
	top: 400px;
	color: #000000;
	font-size: 29px;
	font-weight: 400;
	width: 208px;
	height: 58px;
}

.text-norm {
	position: absolute;
	color:  #000000;
	font-size: 15px;/* Approximation due to font substitution */
	font-weight: 400;
}

.par1 {
	top: 490px;
    left: 43px;
    width: 355px;
    height: 33px;
}

.par2 {
    top: 540px;
    left: 43px;
    width: 381px;
    height: 31px;
}

.par3 {
	top: 590px;
    left: 43px;
    width: 393px;
    height: 52px;
}

.stripe-red {
	position: absolute;
    top: 690px;
    left: 43px;
	width: 703px;
	height: 2px;
	background-color: #cc0000;
}

.img-premii-laser {
	position: absolute;
	color: #000000;
	font-size: 11px;
	font-weight: 400;
    top: 446px;
    right: 156px;
}

.img-premii-router {
	position: absolute;
	color: #000000;
	font-size: 11px;
	font-weight: 400;
	top: 446px;
    right: 66px;
}

.img-premii-scanner {
	position: absolute;
	color: #000000;
	font-size: 11px;
	font-weight: 400;
    top: 526px;
    right: 169px;
}

.img-premii-rucsac {
	position: absolute;
	color: #000000;
	font-size: 11px;
	font-weight: 400;
    top: 526px;
    right: 84px;
}

.tabel {
	position: absolute;
	top: 710px;
    left: 43px;
}

.text-bottom {
	position: absolute;
	color: #000000;
	font-size: 12.6px; /* Approximation due to font substitution */
	font-weight: 400;
	top: 1630px;
	left: 43px;
}

.text-bottom-sec {
	position: absolute;
	color: #000000;
	font-size: 12.6px; /* Approximation due to font substitution */
	font-weight: 400;
	top: 1650px;
	left: 43px;
}

.elipse {
	position: absolute;
	top: 1700px;
	left: 43px;
}

.abonare {
	position: absolute;
	top: 1710px;
	left: 75px;
	color: #000000;
	font-size: 16px;
	font-weight: 400;
}

.form-inscriere {
	position: absolute;
	top: 1760px;
	left: 75px;
}

.forlabel {
	color: #000000;
	font-size: 15px;
	font-weight: 400;
}

.form-control {
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #ffffff;
	width: 192px;
	height: 30px;
}

.numebox {
	position: absolute;
    top: -3px;
    left: 150px;
}

.emailbox {
	position: absolute;
	top: 50px;
	left: 150px;
}

.emaillabel {
	position: absolute;
	top: 60px;
	left: 0px;
}

.checkbox2 {
	position: absolute;
	top: 120px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #ffffff;
	width: 17px;
	height: 17px;
	margin: 0;
}

.checkbox3 {
	position: absolute;
	margin: 0;
	top: 120px;
	left: 20px;
	color: #000000;
	font-size: 12px; /* Approximation due to font substitution */
	font-weight: 400;
	width: 690px;
}

.btn-trimite {
	position: absolute;
	top: 150px;
	background-color:  #cc0000;
	width: 137px;
	height: 37px;
	margin-bottom: 40px;
    display: table;
    cursor: pointer;
}

.btn-inscrie {
	color:  #ffffff;
	font-size: 17px;/* Approximation due to font substitution */
	font-weight: 700;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.warning {
    border: 1px solid red;
}